[Desktop Entry]
Version=1.0
Name=danieleGBK
Type=Application
Exec=sudo python3 /home/neo/Scrivania/danieleBK/danieleGBK/danieleBK.py
Terminal=false
Icon=/home/neo/Scrivania/danieleBK/danieleGBK/danieleBK.png
Comment=maipiu
